@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    /*          PRIMITIVES              */
    /* for referencing in this file only*/

    /* primitive colors */
    --blue-50: #f4f7fb;
    --blue-100: #e4edf8;
    --blue-200: #cadbf2;
    --blue-300: #a3c0ea;
    --blue-400: #729add;
    --blue-500: #034790;
    --blue-600: #023d7a;
    --blue-700: #023163;
    --blue-800: #01244a;
    --blue-900: #001833;
    --purple-50: #f2eafa;
    --purple-100: #e4d4f4;
    --purple-200: #c9a9e9;
    --purple-300: #ae7ede;
    --purple-400: #9353d3;
    --purple-500: #7828c8;
    --purple-600: #6020a0;
    --purple-700: #481878;
    --purple-800: #301050;
    --purple-900: #180828;
    --white: #ffffff;
    --black: #000000;
    --green-50: #f6faf4;
    --green-100: #e9f5e5;
    --green-200: #d1edc9;
    --green-300: #b0e1a3;
    --green-400: #86d071;
    --green-500: #4bb32e;
    --green-600: #42972a;
    --green-700: #2f6d1f;
    --green-800: #235216;
    --green-900: #17330e;
    --red-50: #fbf3f4;
    --red-100: #f8e2e4;
    --red-200: #f4c3c7;
    --red-300: #ec979f;
    --red-400: #e25f6a;
    --red-500: #ec4654;
    --red-600: #de2b3a;
    --red-700: #c81d2c;
    --red-800: #a51925;
    --red-900: #6a1017;
    --yellow-50: #fcf8f3;
    --yellow-100: #faf0e1;
    --yellow-200: #f8e2bf;
    --yellow-300: #f2cd91;
    --yellow-400: #ecb356;
    --yellow-500: #f8ad33;
    --yellow-600: #eb9a17;
    --yellow-700: #c88211;
    --yellow-800: #a26a0e;
    --yellow-900: #7d520b;
    --emerald-50: #f4fbf6;
    --emerald-100: #e3f7e9;
    --emerald-200: #c5f2d1;
    --emerald-300: #9be9b1;
    --emerald-400: #64dd86;
    --emerald-500: #1bbe49;
    --emerald-600: #1fa244;
    --emerald-700: #177832;
    --emerald-800: #115524;
    --emerald-900: #0a3316;
    --pink-50: #ffedfa;
    --pink-100: #ffdcf5;
    --pink-200: #ffb8eb;
    --pink-300: #ff95e1;
    --pink-400: #ff71d7;
    --pink-500: #ff4ecd;
    --pink-600: #cc3ea4;
    --pink-700: #992f7b;
    --pink-800: #661f52;
    --pink-900: #331029;
    --zinc-50: #f1f2f4;
    --zinc-100: #e4e6e9;
    --zinc-200: #d8dade;
    --zinc-300: #d4d5d8;
    --zinc-400: #b8bbc1;
    --zinc-500: #91949c;
    --zinc-600: #696d74;
    --zinc-700: #50565f;
    --zinc-800: #3c424c;
    --zinc-900: #2b3039;

    /* primitive units */
    --unit: 4px;
    --unit-0: 0px;
    --unit-2: 8px;
    --unit-3: 12px;
    --unit-4: 16px;
    --unit-5: 20px;
    --unit-6: 24px;
    --unit-7: 28px;
    --unit-8: 32px;
    --unit-9: 36px;
    --unit-10: 40px;
    --unit-11: 44px;
    --unit-12: 48px;
    --unit-13: 52px;
    --unit-14: 56px;
    --unit-15: 60px;
    --unit-16: 64px;
    --unit-17: 68px;
    --unit-18: 72px;
    --unit-20: 80px;
    --unit-24: 96px;
    --unit-28: 112px;
    --unit-32: 128px;
    --unit-36: 144px;
    --unit-40: 160px;
    --unit-44: 176px;
    --unit-48: 192px;
    --unit-52: 208px;
    --unit-56: 224px;
    --unit-60: 240px;
    --unit-64: 256px;
    --unit-72: 288px;
    --unit-80: 320px;
    --unit-96: 384px;
    --unit-xs: 8px;
    --unit-sm: 12px;
    --unit-md: 16px;
    --unit-lg: 22px;
    --unit-xl: 36px;
    --unit-2xl: 48px;
    --unit-3xl: 80px;
    --unit-4xl: 120px;
    --unit-5xl: 224px;
    --unit-6xl: 288px;
    --unit-7xl: 384px;
    --unit-8xl: 512px;
    --unit-9xl: 640px;
    --unit-3-5: 14px;

    /* primitive flat colors */
    --default-300-flat: #d4d5d8;
    --default-700-flat: #50565f;
    --primary-500-flat: #034790;
    --secondary-400-flat: #86d071;
    --secondary-500-flat: #4bb32e;
    --success-500-flat: #1bbe49;
    --warning-500-flat: #f8ad33;
    --danger-500-flat: #ec4654;

    /*          TOKENS                */
    /* for referencing everywhere else*/

    --background: var(--colors-common-white);
    --foreground: #11181c; /* primary text color */
    --divider: #111111;
    --focus: var(--colors-common-blue-500);

    --content1: var(--colors-common-white);
    --content2: var(--colors-common-zinc-100);
    --content3: var(--colors-common-zinc-300);
    --content4: var(--colors-common-zinc-300);

    --default: var(--colors-common-zinc-300);
    --primary: var(--colors-common-blue-500); /* brand color */
    --secondary: var(--colors-common-green-500);
    --success: var(--colors-common-flat-secondary-500-flat);
    --warning: var(--colors-common-yellow-500);
    --danger: var(--colors-common-red-500);

    --foreground-50: var(--colors-common-zinc-50);
    --foreground-100: var(--colors-common-zinc-100);
    --foreground-200: var(--colors-common-zinc-200);
    --foreground-300: var(--colors-common-zinc-300);
    --foreground-400: var(--colors-common-zinc-400);
    --foreground-500: var(--colors-common-zinc-500);
    --foreground-600: var(--colors-common-zinc-600);
    --foreground-700: var(--colors-common-zinc-700);
    --foreground-800: var(--colors-common-zinc-800);
    --foreground-900: var(--colors-common-zinc-900);

    --content1-foreground: var(--colors-common-zinc-900);
    --content2-foreground: var(--colors-common-zinc-800);
    --content3-foreground: var(--colors-common-zinc-700);
    --content4-foreground: var(--colors-common-zinc-600);

    --overlay: #000000;

    --default-foreground: var(--colors-common-black);
    --primary-foreground: var(--colors-common-white);
    --secondary-foreground: var(--colors-common-white);
    --success-foreground: var(--colors-common-black);
    --warning-foreground: var(--colors-common-black);
    --danger-foreground: var(--colors-common-white);

    --default-50: var(--colors-common-zinc-50);
    --default-100: var(--colors-common-zinc-100);
    --default-200: var(--colors-common-zinc-200);
    --default-300: var(--colors-common-zinc-300);
    --default-400: var(--colors-common-zinc-400);
    --default-500: var(--colors-common-zinc-500);
    --default-600: var(--colors-common-zinc-600);
    --default-700: var(--colors-common-zinc-700);
    --default-800: var(--colors-common-zinc-800);
    --default-900: var(--colors-common-zinc-900);

    --primary-50: var(--colors-common-blue-50);
    --primary-100: var(--colors-common-blue-100);
    --primary-200: var(--colors-common-blue-200);
    --primary-300: var(--colors-common-blue-300);
    --primary-400: var(--colors-common-blue-400);
    --primary-500: var(--colors-common-blue-500);
    --primary-600: var(--colors-common-blue-600);
    --primary-700: var(--colors-common-blue-700);
    --primary-800: var(--colors-common-blue-800);
    --primary-900: var(--colors-common-blue-900);

    --secondary-50: var(--colors-common-green-50);
    --secondary-100: var(--colors-common-green-100);
    --secondary-200: var(--colors-common-green-200);
    --secondary-300: var(--colors-common-green-300);
    --secondary-400: var(--colors-common-green-400);
    --secondary-500: var(--colors-common-green-500);
    --secondary-600: var(--colors-common-green-600);
    --secondary-700: var(--colors-common-green-700);
    --secondary-800: var(--colors-common-green-800);
    --secondary-900: var(--colors-common-green-900);

    --success-50: var(--colors-common-green-50);
    --success-100: var(--colors-common-green-100);
    --success-200: var(--colors-common-green-200);
    --success-300: var(--colors-common-green-300);
    --success-400: var(--colors-common-green-400);
    --success-500: var(--colors-common-green-500);
    --success-600: var(--colors-common-green-600);
    --success-700: var(--colors-common-green-700);
    --success-800: var(--colors-common-green-800);
    --success-900: var(--colors-common-green-900);

    --warning-50: var(--colors-common-yellow-50);
    --warning-100: var(--colors-common-yellow-100);
    --warning-200: var(--colors-common-yellow-200);
    --warning-300: var(--colors-common-yellow-300);
    --warning-400: var(--colors-common-yellow-400);
    --warning-500: var(--colors-common-yellow-500);
    --warning-600: var(--colors-common-yellow-600);
    --warning-700: var(--colors-common-yellow-700);
    --warning-800: var(--colors-common-yellow-800);
    --warning-900: var(--colors-common-yellow-900);

    --danger-50: var(--colors-common-red-50);
    --danger-100: var(--colors-common-red-100);
    --danger-200: var(--colors-common-red-200);
    --danger-300: var(--colors-common-red-300);
    --danger-400: var(--colors-common-red-400);
    --danger-500: var(--colors-common-red-500);
    --danger-600: var(--colors-common-red-600);
    --danger-700: var(--colors-common-red-700);
    --danger-800: var(--colors-common-red-800);
    --danger-900: var(--colors-common-red-900);

    --disabled-opacity: 0.5px;

    --divider-weight: 1px;

    --text-tiny: 12px; /* for helper text, labels, secondary info */
    --text-small: 14px; /* for helper text, labels, secondary info */
    --text-medium: 16px; /* for most body copy */
    --text-large: 18px;

    --leading-tiny: 16px;
    --leading-small: 20px;
    --leading-medium: 24px;
    --leading-large: 28px;

    --rounded-small: 8px;
    --rounded-medium: 12px; /* recommended default for most form fields, cards, and buttons */
    --rounded-large: 14px;
    --rounded-full: 9999px; /* reserved for pills, tags, and circular elements only */
    --rounded-none: 0px;

    --border-small: 1px;
    --border-medium: 2px;
    --border-large: 3px;

    --focus-op-20: #006fee;

    --force-dark: var(--colors-layout-background);

    --primary-flat: var(--colors-common-flat-primary-500-flat);
    --secondary-flat: var(--colors-common-flat-secondary-500-flat);
    --success-flat: var(--colors-common-flat-success-500-flat);
    --warning-flat: var(--colors-common-flat-warning-500-flat);
    --danger-flat: var(--colors-common-flat-danger-500-flat);
    --default-flat: var(--colors-common-flat-default-300-flat);

    --link: primary;

  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
